.entrance-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.entrance-entrance {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(240, 236, 215, 1);
}
.entrance-honeycomb {
  top: 150px;
  left: 0px;
  width: 1920px;
  height: 493px;
  opacity: 0.40;
  position: absolute;
}
.entrance-header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 150px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.entrance-logo {
  top: 20px;
  left: 25px;
  width: 384px;
  height: 110px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.entrance-image1 {
  top: 24px;
  left: 287px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.entrance-text {
  top: 21px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.entrance-btnsignup {
  top: 37px;
  left: 1651px;
  width: 216px;
  height: 85px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 164, 0, 1);
}
.entrance-text02 {
  top: 21px;
  left: 48px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.entrance-inputmail {
  top: 308px;
  left: 538px;
  width: 844px;
  height: 90px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(253, 253, 253, 1);
}
.entrance-text04 {
  top: 398px;
  left: 538px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Kurale;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.entrance-inputpass {
  top: 450px;
  left: 538px;
  width: 844px;
  height: 90px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(253, 253, 253, 1);
}
.entrance-frame7 {
  top: -7px;
  left: 580px;
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.entrance-text08 {
  top: 253px;
  left: 538px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 37px;
  font-style: Regular;
  text-align: center;
  font-family: Kurale;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.entrance-btnsignin {
  top: 801px;
  left: 841px;
  width: 237px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(222, 203, 153, 1);
}
.entrance-text10 {
  top: 19px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
